<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a asp-action="SearchView" asp-controller="Home" class="btn m-2 btn-outline-primary">Home</a></li>
        <li class="nav-item"><a asp-action="Index" asp-controller="Room" class="btn m-2 btn-outline-primary">Rooms</a></li>
        <li class="nav-item"><a asp-action="Index" asp-controller="User" class="btn m-2  btn-outline-primary">Users</a></li>
        <li class="nav-item"><a asp-action="Index" asp-controller="Resident" class="btn m-2  btn-outline-primary">Residents</a></li>
        <li class="nav-item"><a asp-action="Index" asp-controller="Reservation" class="btn m-2  btn-outline-primary">Reservations</a></li>
        <li class="nav-item"><a asp-action="Index" asp-controller="Branch" class="btn m-2  btn-outline-primary">Branches</a></li>
        <li class="nav-item"><a asp-action="Logout" asp-controller="Home" class="btn m-2  btn-outline-danger">Log out</a></li>
    </ul>      
    </header>
    <hr style="height:5px; width:100%; border-width:0; color:red; background-color:red">
  </div>