
@{
    ViewData["Title"] = "Unauthorized";
}

@section Styles{
<style>
#main {
    height: 100vh;
}
</style>
}
<div class="d-flex justify-content-center align-items-center" id="main">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">401</h1>
    <div class="inline-block align-middle">
    	<h2 class="font-weight-normal lead" id="desc">You are not authorized to view this page.</h2>      
    </div>
      <a asp-action="SearchView" asp-controller="Home" class="btn-primary btn">Go to Home</a>
</div>

