
@{
    ViewData["Title"] = "Under Construction";
}

<partial name="_Header">


  <h1  class="text-center">This page is under construction.</h1>  
    <h2  class="text-center">Check back later 😉</h2>  
